<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
  	
    <h1>All events</h1>
	
	<form action="/events/searchResult" method="get">
        <div class="form-inline">
	        Search for events:
	        <i class="fa fa-search"></i>
	        <input class="form-control"type="text" name="Search for events">
	        <input class="btn btn-default" type	="submit" value="Search">
        </div>
    </form>
	
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-bolt"></i> Event</th>
          <th><i class="fa fa-map-marker"></i> Venue</th>
          <th><i class="fa fa-calendar"></i> Date</th>
          <th><i class="fa fa-clock-o"></i> Time</th>
          <th sec:authorize="hasRole('ROLE_ADMINISTRATOR')"><i class="fa fa-bolt"></i> More</th>
        </tr>
      </thead>
      <tbody>

        <tr th:if="${future_events.empty}">
          <td colspan="2"> No Future Events Available </td>
        </tr>
        <tr th:if="${!future_events.empty}">
          <td colspan="2"> Future Events: </td>
        </tr>
        <tr th:each="fe, iterStat : ${future_events}" th:class="${iterStat.odd} ? 'odd': ''">
          <td> <a th:text="${fe.name}" th:href="@{'/events/view/' + ${fe.id}}">View event</a></td>
          <td th:text="${fe.venue.name}">Event venue</td>
          <td th:text="${{fe.date}}">Event date</td>
          <td th:text="${{fe.time}}">Event time</td>
          <td sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
          	<a th:href="@{'/events/update/' + ${fe.id}}"><button type="button" class="btn btn-success">Update event</button></a>
          </td>
        </tr>
        
        <tr th:if="${past_events.empty}">
          <td colspan="2"> No Past Events Available </td>
        </tr>
        <tr th:if="${!past_events.empty}">
          <td colspan="2"> Past Events: </td>
        </tr>
        <tr th:each="pe, iterStat : ${past_events}" th:class="${iterStat.odd} ? 'odd': ''">
          <td> <a th:text="${pe.name}" th:href="@{'/events/view/' + ${pe.id}}">View event</a></td>
          <td th:text="${pe.venue.name}">Event venue</td>
          <td th:text="${{pe.date}}">Event date</td>
          <td th:text="${{pe.time}}">Event time</td>
          <td sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
          	<a th:href="@{'/events/update/' + ${pe.id}}"><button type="button" class="btn btn-success">Update event</button></a>
          </td>
        </tr>
        
      </tbody>
    </table>
    
    <div sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
  	  <a href="/events/new"><button type="button" class="btn btn-success">New event</button></a>
		</div>
		<br>
		<a href="/"><button type="button" class="btn btn-success">Back</button></a>
  </div>

</body>
</html>