<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Search</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="jumbotron">
      <h2>Search for Events</h2>

      <p>This is a search engine for you to find your target events by name</p>
      
      <form action="/events/searchResult" method="get">
        <div class="form-inline">
	        Search for events: 
	        <i class="fa fa-search"></i>
	        <input class="form-control"type="text" name="Search for events">
	        <input class="btn btn-default" type	="submit" value="Search">
        </div>
      </form>
      
    </div>
    
    <div th:if="${!upcomingResults.empty}">
	    <h3>Upcoming Events</h3>
	    
	    <table class="table table-striped table-hover">
	      <thead>
	        <tr>
	          <th class="col-md-3"><i class="fa fa-bolt"></i>Name</th>
	          <th class="col-md-3"><i class="fa fa-calendar"></i>Date</th>
	          <th class="col-md-3"><i class="fa fa-clock-o"></i>Time</th>
	          <th class="col-md-3"><i class="fa fa-map-marker"></i>Venue</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr th:each="g : ${upcomingResults}">
	          <td><a th:text="${g.name}" th:href="@{'/events/view/' + ${g.id}}">View event</a></td>
	          <td th:text="${{g.date}}">Date</td>
	          <td th:text="${{g.time}}">Time</td>
	          <td th:text="${g.venue.name}">venue</td>
	        </tr>
	      </tbody>
	    </table>
    </div>
    
    <div th:if="${!previousResults.empty}">
	    <h3>Previous Events</h3>
	    
	    <table class="table table-striped table-hover">
	      <thead>
	        <tr>
	          <th class="col-md-3"><i class="fa fa-bolt"></i>Name</th>
	          <th class="col-md-3"><i class="fa fa-calendar"></i>Date</th>
	          <th class="col-md-3"><i class="fa fa-clock-o"></i>Time</th>
	          <th class="col-md-3"><i class="fa fa-map-marker"></i>Venue</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr th:each="g : ${previousResults}">
	          <td><a th:text="${g.name}" th:href="@{'/events/view/' + ${g.id}}">View event</a></td>
	          <td th:text="${{g.date}}">Date</td>
	          <td th:text="${{g.time}}">Time</td>
	          <td th:text="${g.venue.name}">venue</td>
	        </tr>
	      </tbody>
	    </table>
    </div>
    
    <a href="/events"><button type="button" class="btn btn-success">Back</button></a>
 
  </div>
</body>
</html>