<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title layout:title-pattern="$LAYOUT_TITLE: $CONTENT_TITLE">EventLite</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css" />
  <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />
  <style>
    #map { width:100%; height: 500px; margin-bottom: 5vh; margin-top: 5vh;}
  </style>
</head>
</head>
<body>

  <div class="container" style="margin-top: 5px;">
    <div sec:authorize="!isAuthenticated()">
      <i class="fa fa-user" aria-hidden="true"></i> Not signed in
      <a class="btn btn-default navbar-btn" role="button" th:href="@{/sign-in}">
        <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
      </a>
      <a href="/venues"><button type="button" class="btn btn-primary" style=" float:right;font-size: 17px; padding: 6px 20px; margin-left: 5px;" >Venues</button></a>
      <a href="/events"><button type="button" class="btn btn-primary" style=" float:right;font-size: 17px; padding: 6px 20px;" >Events</button></a>
    </div>
    <div sec:authorize="isAuthenticated()">
      <form th:action="@{/sign-out}" method="post">
        <i class="fa fa-user" aria-hidden="true"></i> Signed in as <span sec:authentication="name"></span>
        <button type="submit" class="btn btn-warning"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</button>
        <a href="/venues"><button type="button" class="btn btn-primary" style=" float:right;font-size: 17px; padding: 6px 20px; margin-left: 5px;" >Venues</button></a>
        <a href="/connect/twitter"><button type="button" class="btn btn-primary" style=" float:right;font-size: 17px; padding: 6px 20px; margin-left: 5px;" >Twitter</button></a>
        <a href="/events"><button type="button" class="btn btn-primary" style=" float:right;font-size: 17px; padding: 6px 20px;" >Events</button></a>
      </form>
    </div>
  
	<div class="container">
	    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${failed_message}">
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <i class="fa fa-times" aria-hidden="true"></i>
	      </button>
	      <span th:text="${failed_message}">Failed!</span>
    </div>

    <div layout:fragment="content">
      Main page body goes here...
    </div>
  </div>

  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
