<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>Update</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Update venue</h1>
    <form action="#" th:action="@{/venues/update}" th:object="${venue}" method="post">
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">Venue name</label>
        <input class="form-control" type="text" name="name" id="name" th:value="${venue.name}" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('roadName')}? has-error">
        <label for="roadName">First line of the address</label>
        <input class="form-control" type="text" name="roadName" id="roadName" th:value="${venue.roadName}"/>
        <p class="text-danger" th:if="${#fields.hasErrors('roadName')}" th:errors="*{roadName}">errors</p>
      </div>
  
   	  <div class="form-group" th:classappend="${#fields.hasErrors('postCode')}? has-error">
        <label for="postCode">Post code</label>
        <input class="form-control" type="text" name="postCode" id="postCode" th:value="${venue.postCode}"/>
        <p class="text-danger" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}">errors</p>
      </div>
  

      <div class="form-group" th:classappend="${#fields.hasErrors('capacity')}? has-error">
        <label for="date">Venue capacity</label>
        <input class="form-control" type="number" name="capacity" id="capacity" th:value="${venue.capacity}"/>
        <p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">errors</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('id')}? has-error">
        <input class="form-control" type="hidden" name="id" id="id" th:value="${venue.id}"/>
        <p class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">errors</p>
      </div>
      
      <button class="btn btn-primary" type="submit"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/venues"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>
