<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title th:text="${venue.name}">My Venue</title>
</head>
<body>
  <div layout:fragment="content">
    <h1 th:text="${venue.name}">My Venue</h1>
    <h3 th:text="'Capacity: ' + ${venue.capacity}">Venue capacity</h3>
    <h3 th:text="'Address: ' + ${venue.address}">Venue address</h3>
    <h3 th:text="'Latitude: ' + ${venue.latitude}">Venue latitude</h3>
    <h3 th:text="'Longitude: ' + ${venue.longitude}">Venue longitude</h3>
    
    <div>
    	<a href="/venues"><button type="button" class="btn btn-success" style="float:left;">Back</button></a>
    	<div sec:authorize="hasRole('ROLE_ADMINISTRATOR')" style="float:left;padding-left:5px;">
  	  	<form th:action="@{'/venues/' + ${venue.id}}" th:method="delete" >
					<button type="submit" class="btn btn-danger"><i aria-hidden="true"></i> Delete</button>
				</form>
			</div>
		</div> 
  </div>


</body>
</html>


